{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Disciplinas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Lista de Disciplinas</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Puntos</th>
                </tr>
            </thead>
            <tbody>
                {% for disciplina in object_list %}
                    <tr>
                        <td>{{ disciplina.nombre }}</td>
                        <td>{{ disciplina.categoria }}</td>
                        <td>{{ disciplina.puntos }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">No hay disciplinas disponibles.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
